body{
background-color: var(--Back-color);
}
.main{
display: flex;
text-align: center;
align-items: center;
position:absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background-color:  var(--feld-color);
max-width: 500px;
color: white;
border-radius: 20px;
}
.main .titel{
position: absolute;
display: flex;
justify-content: flex-start;
bottom: 80%;
padding: 20px;
left: 10%;
}
.main .feld{
display: flexz;
flex-direction: column;
position: relative;
margin-top: 150px;
}
.main .feld label{
position: absolute;
margin-bottom: 40px;
}
.main .feld input{
width: 300px;
height: 40px;
border-radius: 6px;
background-color:var(--Back-color);
border: 1px solid white;
margin-top: 30px;
border-radius: 10px;
}
.main .feld input::placeholder{
padding: 10px;
}
.main .chekbox input{
width: 300px;
height: 40px;
border-radius: 10px;
background-color: var(--Basic);
margin-top: 20px;
}
.main p a{
color: var(--Basic);
}
