.style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 4px solid #ccc;
    border-radius: 10px;
    background-color: #14b6e2;
    width: 500px;
    position: absolute;
    top: 30%; 
    left: 30%; /
}
.submit {
    padding: 10px 20px;
    background-color: #eeeff0;
    margin-left: 10px; 
    cursor: pointer;
    transition: 1s;
}
.username_style {
    padding: 10px;
    font-size: 16px;  
    width: 250px; 
    background-color: #14b6e2;

    
}
.password_style {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px; 
     border-radius: 5px; 
    width: 250px; 
    background-color: #14b6e2;
    
}
.submit:hover {
    background-color: #0e8bb5; 
}
