body{
background-color:var(--Back-color) ;
}
.form_style{
display: flex;
align-items: center;
text-align: center;
justify-content: center;
margin: 0;
padding: 0;
width: 450px;
height: 500px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background-color: var(--feld-color);
color: white;
border-radius: 20px;
}
@media (max-width: 768px) {
    .form_style{
width: 80%
}
  }
nav{
    display: flex;
    justify-content: center;
    font-size: 20px;
    background-color: var(--header-bg);
    height: 90px;
    padding: 0 30px;
}

.nav-con{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
}

.right-side{
    display: flex;
    align-items: center;
    gap: 10px
}

nav, nav *{
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-secondary);
}

nav .logo{
    font-weight: 800;
    font-size: 25px;
    background: linear-gradient(120deg, var(--accent), #7c3aed);
    color: transparent;
    background-clip: text;
}


nav ul li{
    list-style: none;
    height: fit-content;
    font-weight: 600;
    padding: 15px 20px;
    border-radius: 10px;
}

nav a{
    cursor: pointer;
}


.toggle-theme{
    background-color: transparent;
    /* border: 1px solid white; */
    border: none;
    border-radius: 50%;
    height: 40px;
    padding: 0px;
    aspect-ratio: 1/1;
    cursor: pointer;
}

nav ul li:hover, .toggle-theme:hover{
    background-color: var(--accent-light);
    color: var(--accent)
}

nav .bars{
    display: none;
    color: var(--text-secondary)
}

@media (max-width: 900px) {
    nav{
        font-size: 16px;
    }
    nav .logo{
        font-size: 20px;
    }
}

@media (max-width: 790px) {
    nav ul{
        /* display: none; */
        background-color: var(--header-bg);
        display: block;
        position: absolute;
        right: 50px;
        top:100px;
        height: 90%;
        width: 80%;
        left: 30%;  
        z-index:1;
        position: fixed;
    }
    nav .bars {
        display: block;   
    }
}
.form_style .title{
position: absolute;
display: flex;
padding: 20px;
justify-content: flex-start;
top: 20px;
padding: 10px;
}
.form_style .feld{
display: flex;
flex-direction: column;
position: relative;
margin-top: 50px;
}
.form_style .feld label{
position: absolute;
left: 60px;
}
.form_style .feld input {
width: 75%;
height: 35px;
border-radius: 6px;
background-color:var(--Back-color);
border: 1px solid white;
margin-top: 15px;
}
.form_style .feld input::placeholder {
padding: 10px;
}
.form_style .forget {
position: absolute;
color: var(--Basic);
margin-top: 10px;
left: 56%;
} 
.form_style .forget a{
color: var(--Basic);
}
.form_style .chekbox input{
width: 75%;
height: 40px;
border-radius:10px;
background-color: var(--Basic);
margin-top: 60px;
}
.form_style .remember{
position: absolute;
left: 80px;
margin-top:20px ;
}
.form_style p a {
color: var(--Basic);
}