#input-con{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input-con form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
#input-con form div{
    display: flex;
    flex-direction: column;
    padding: 10px;
}